<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Vaccination Booking - Log In</title>
    <link rel="stylesheet" href="../css/login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <script src="../js/admin.js"></script>
</head>
<body>
    <h1>Step into the realm of authority </h1>
    <div style="display: flex; margin-top: 0px;">
        <div style="width:75%">
            <img style="width: 100%;" src="../assets/admin page.png"/>
        </div>
        <div class="container" style="width: 50%;">
            <form>
                <h1>Admin Login</h1>
                <label>Admin Id</label><br>
                <input type="text" placeholder="Enter Your ID" required/><br>
                <label>Password</label><br>
                <input type="password" placeholder="Enter Your Password" required/><br>
                <button type="submit" onclick="ValidateForm(event)"><b>Login</b></button><br>
                <h2></h2>
            </form>
        </div>
    </div>
</body>
</html>
