<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Vaccination Booking - Dosage Details</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <script src="../js/dosagedetails.js"></script>
</head>
<body>
    <h1>Welcome to Dosage Details WebPage</h1>
    <div style="display: flex; justify-content: flex-start; margin-left: 5%;">
        <button id="backButton">Back</button>
      </div>  
    <table id="dosagedetailstable">
        <thead>
            <th>Dosage Name</th>
            <th>Dosage Availability</th>
            <th>Edit Details</th>
        </thead>
        <tbody>
            <tr>
            <td>Dosage 1</td>
            <td>0</td>
            <td><button>Edit</button></td>
            </tr>
            <tr>
            <td>Dosage 2</td>
            <td>0</td>
            <td><button>Edit</button></td>
        </tr>
        </tbody>
    </table>
    <h1>Upcoming Slot Booked Details</h1>
    <table id="slotdetails">
        <thead>
            <th>Name</th>
            <th>Dosage Date</th>
            <th>Dosage Type</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>