
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Vaccination Booking - Public Page</title>
    <link rel="stylesheet" href="../css/dashboard.css"/>
    <script src="../js/public.js"></script>
</head>
<body>
    <h1></h1>
    <div style="display: flex; justify-content: flex-end;">
      <button style="margin-right: 5%;" id="logoutButton">Log Out</button>
    </div>    
    <table id="dosageTable">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Dosage Name</th>
            <th>Dosage Date</th>
            <th>Booking Details</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table body will be populated dynamically -->
        </tbody>
      </table>
      <h2></h2>
      <div id="target">
      </div>
</body>
</html>